body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
<body bgcolor="Yellow">
}

a{
  color: #00B7FF;
}

#content {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
background-color:white;
}
#nrs{
		background-color:white;
    height:100px;
    width:1330px;
	border-radius:170px;
}
#loc{
	background-color:white;
    height:200px;
    width:730px;
	border-radius:170px;
}
